//////////////////////////////////
//			Placeholders						//
//////////////////////////////////


// =============== Helpers =======================

// 		Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// 		Center alignment

%center-align {
	text-align: center;
}

// 		Right alignment

%right-align {
	text-align: right;
}


// 		Screen reader text

%srt {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

//	============= Flex Box ========================

%container-flex {
	display: flex;
	flex-direction: column;
	@include mq(small) {
		flex-direction: row;
	}
}

%container-flex-fixed {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		text-align: center;
}

%container-flex-verticle {
	display: flex;
	flex-direction: column;
	
}

// =============== Buttons ======================

%button {
	@extend %center-align;
 	@include pad-top-bottom(15px);
	cursor: pointer;
	font-weight: $font-weight--bold;
	font-size: em(17px);
	border: 0;
	color: $white;
	width: 100%; 
	border-radius: $border--rounded-corners;
}

%button-navs {
	background-color: transparent;
	cursor: pointer;
	min-height: 35px;
	color: $white;
	@include pad-left-right;
	border: none;
	outline: none;
	&:hover {
		@extend %nav-item-on;
	}
}



// =============== Links ========================

%links {
	text-decoration: none;  //	Remove Underlines
	color: $color-shadow;
	padding: em(5px) em(15px);
	border-radius: $border--rounded-corners;
	transition: background $trns--duration-fast;
	&:hover {
		background: setColor(primary, x-light);
	}
}

// =============== Images =======================

%img--center {
	display: block;
	@include margin-left-right(auto);
}

// =============== Headlines ====================

%hdln-prim {	
	@include pad-left-right(em(15px));
	color: $color-font-white;
	font-weight: $font-weight--medium;
  font-size: em(28px);
	@include margin-top-bottom(em(5px));
	@include mq(small) {
	 font-size: em(36px);
	}
	@include mq(medium) {
		text-align: left;
		padding-left: 20px;
	}
}

%hdln-sec {
  color: setColor(grey, medium);
  font-weight: $font-weight--light;
	font-size: em(26px);
	margin-bottom: 15px;
}

%hdln-ter {
  color: setColor(grey, xx-dark);
	font-size: em(20px);	
	@include margin-top-bottom(0);
}

// =============== Digital looking typography ==

%digital {
	font-family: $font-family--digital;
	text-transform: capitalize;
}

// ============== Gradients =====================

// Gradient for nav bars 
%gradient {
		background: linear-gradient(to bottom, setColor(primary, xx-dark) 0%, setColor(primary, dark) 45%, setColor(primary, dark) 55%, setColor(primary, xx-dark) 100%);
}

// =============== Nav Items ====================

%nav-bar {
	position: absolute;
	z-index: map-get($z-index, menu);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
	width: 100%;
	@include mq(medium) {	
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		@include pad-left-right;
	}
}

%nav-mobile {
	width: 100%;
	background: $color-shadow;
	transition: transform .4s ease-in;
}

%nav-ul {
	@extend %container-flex;
	padding-left: 0;
	margin: auto 0;
	@include mq(small) {
		display: flex;
		justify-content: center;
	}
	@include mq(medium) {
		order: 2;
	}
}

%nav-item-link {
	@include margin-left-right(auto);
	text-decoration: none;
	font-family: $font-family--primary;
	font-weight: $font-weight--bold;
	@extend %center-align;
	color: $color-font-lighter;
	font-size: em(20px);
	display: block;
	margin-top: em(4px);
	padding: em(12px) em(18px);
	border-radius: $border--rounded-corners;
	@include mq(small) {
		margin-left: em(5px);
		margin-bottom: em(5px);
	}
	@include mq(large) {
		display: inline-block;
	}
}

%nav-item-on {
	font-weight: $font-weight--bold;
	background-color: $color-primary;
	color: $white;
	box-shadow: 0 0 5px 1px setColor(primary, xx-light);
	transition: background-color $trns--duration-fast;
}







