// Base container
.container {
	min-height: 100vh;
	position: relative;
	padding-top: em(40px);
	color: palette(grey);
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: ($base__line-height * $base__font-size);
	background-color: $color-primary;
	background-image: url(../images/gemini.svg);
	background-size: 35px 35px;
}

