// ==========================================================================
// 		Grid system
// ==========================================================================

// Center elements
.centered {
	@include mq(medium) {
		@include margin-left-right(auto);
	}
}

.content {
	min-height: 100vh;
	width: 100%;
	background: $background;
	background-position: center top;
	background-size:  cover;
	padding-top: em(145px);
	@include mq(small) {
		padding-top: em(165px);		
		@include pad-left-right(em(25px));
	}
	@include mq(medium) {
		padding-top: em(125px);		
		@include pad-left-right(em(50px));
	}

}

// Create grid rows
.grid {
	@extend .centered;
	background-color: rgba(setColor(primary, xx-light), .8);
	color: map-get(map-get($color-palettes,grey), x-dark);
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: ($base__line-height * $base__font-size);
	padding: 20px 20px;
	border-radius: $border--rounded-corners;
	border: $border--thick;
	box-shadow: 0 0 85px 15px #fff inset;
	transition: background-color $trns--duration-fast;

	@include mq(large) {
		max-width: $pg-max-w;
	}
	&:hover {
		background-color: rgba(setColor(primary, xx-light), 1);	
	}
	& + & {
		margin-top: em(45px);
	}
	
	@include e(row) {		// .grid__row
		@include container-flex-between;
		@extend %clearfix;
		@extend .centered;
		width: 100%;
		@include mq(medium) { 
			@include pad-left-right(50px);
		}
		& + & {
			border-top: $border--thick;
			@include mq(small) {
				border-top: none;
			}
		}
	}
	@include e(col) {
		@include mq(small) {
			// create grid columns
			@include g-columns;
		}	
	}
}

// Column styles
	// Select any class beginning with grid__col--
[class^="grid__col--"] {
	padding: 0 em(10px);
	@include margin-top-bottom(em(10px));
	@include mq(medium) { 
		@include doubly(percentage($g-gutter-width / $context));
		min-height: 1px;
	}
}


