.nav { 		// ul
	@extend %nav-ul;
	display: none;

	
	@include mq(small) {
		display: flex;
		justify-content: center;

	}
	@include mq(medium) {
		order: 2;
	}
	
	@include m(mobile) { // mobile ul
		@extend %nav-ul;
		width: 100%;
		position: absolute;
		top: 35px;
		background: $color-shadow;
		transition: transform .4s ease-in;
		@include mq(small) {
			display: none;
		}
	}
	
	&bar {  // nav element
		@extend %nav-bar;
		background: setColor(primary, dark);		
		z-index: map-get($z-index, menu);
		bottom: 0;		
		box-shadow: 0 0 45px 12px setColor(primary, xx-dark) inset;
		@include m(mobile) { // mobile nav element			
			@extend %nav-bar;	
			background: $color-shadow;

			@include mq(small) {
				display: none;
			}
		}
	}
	
	@include e(item) {  // li
		list-style: none;
	}
	
	@include e(link) {  // a
		@extend %nav-item-link;
		&:hover {
			@extend %nav-item-on;
		}
		&:active {
			@extend %nav-item-on;
		}
	}	
	& .selected {
		@extend %nav-item-on;
	}
}

.sticky {
	position: fixed;
	top: 0;
	bottom: auto;
//	box-shadow: 0 0 45px inset #000;

}

// button to scroll down to portfolio
#button{
	@include m(scroll) {
		@extend %button-navs;
		&:active {
			background-color: $color-shadow;
		}
	}	
	@include m(menu) {
		@extend %button-navs;
		background: url(../images/icon-menu.svg) center no-repeat $color-shadow;
		z-index: map-get($z-index, menu);
				&:active {
			background-color: setColor(primary, dark);
		}
	}
}

.flip {
	transform: rotate(180deg);
}

.collapsed {
	transform: translateY(-160px);
}

