.nav { 		// ul
	@extend %container-flex;
	display: none;
	padding-left: 0;
	margin: auto 0;
	@include mq(small) {
		display: flex;
		justify-content: center;
	}
	@include mq(medium) {
		order: 2;
	}
	
	&bar {  // nav element
		@extend %nav-bar;
	}
	
	@include e(item) {  // li
		list-style: none;
	}
	
	@include e(link) {  // a
		@extend %nav-item-link;
		&:hover {
			@extend %nav-item-on;
		}
		&:active {
			@extend %nav-item-on;
		}
	}	
	& .selected {
		@extend %nav-item-on;
	}
}

.sticky {
	position: fixed;
	top: 0;
	bottom: auto;
}

// button to scroll down to portfolio
#button--scroll {
	background-color: transparent;
	color: $white;
	@include pad-left-right;
	border: none;
	outline: none;
	&:hover {
		background-color: $color-primary;
	}
	&:active {
		background-color: $color-shadow;
	}
	
}

.flip {
	transform: rotate(180deg);
}

