//////////////////////////////////
//			Typography  						//
//////////////////////////////////

// ============ Import if Google Fonts URL is defined ==============

@if variable-exists(font-url--primary) {
  @import url($font-url--primary);
}

@if variable-exists(font-url--accent) {
  @import url($font-url--accent);
}



// =============== Headlines ======================

.headline {
	&--primary {
		@extend %hdln-prim;

	}
	&--secondary {
		@extend %hdln-sec;
	}
}

// =============== Links =========================

.link {
	font-weight: $font-weight--bold;
	color: $color-font-white;
	text-decoration: none; 	//  remove underlines
}

// =============== Blockquotes ====================

.blockquote {
	@include margin-left-right(30px, 35px);
	margin-top: 30px;
	padding-left: 30px;
	font-weight: $font-weight--medium;
	font-style: italic;
 	font-size: em(25px);
	line-height: 1.4em;
	border-left: 10px solid $color-primary;
	border-radius: 10px;
	@include mq(medium) {
		max-width: 700px;
	}
}

.card {
	max-width: 1050px;
}

